<div class='submitting-post'>
  <form action='/forum-post' method='POST' class='forum-post'>
    <input class='post-box' type='text' name='post'>
    <input type='submit' value='post'>
  </form>
</div>

<td>
  <tr>
    <tc>username</tc>
    <tc>post</tc>
  </tr>
  <tr>
    <tc>username2</tc>
    <tc>post2</tc>
  </tr>
</td>

<ul class='all-posts'>
  <% @posts.each do |post| %>
    <div id="ind-post">
    <li style='color: white'>
      <div id="username"><%= post.player.username %></div>
      <div id="message"><%= post.content %></div>
      <div id="time"><%= post.created_at.strftime("%b %e, %l:%M %p")%></div>
    </li>
    </div>
  <% end %>
</ul>
