<form action='/forum-post' method='POST' class='forum-post'>
  <input type='text' name='post'>
  <input type='submit' value='post'>
</form>

<% @posts.each do |post| %>
  <p style='color: white'>
  <%= post.content %>
  </p>
<% end %>
