<section class='submitting-post'>
  <form action='/forum-post' method='POST' class='forum-post'>
    <input class='post-box' type='text' name='post'>
    <input type='submit' value='post'>
  </form>
</section>

<ul class='all-posts'>
  <% @posts.each do |post| %>
    <section id="ind-post">
      <li style='color: white'>
        <section id="username"><%= post.player.username %></section>
        <section id="message"><%= post.content %></section>
        <section id="time"><%= post.created_at.strftime("%b %e, %l:%M %p")%></section>
      </li>
    </section>
  <% end %>
</ul>
