<form action='/forum-post' method='POST' class='forum-post'>
  <input type='text' name='post'>
  <input type='submit' value='post'>
</form>

<% @posts.each do |post| %>
<div id="ind-post">
<li style='color: white'>
  <div id="userpost"><%= "#{post.player.username}:" %></div>
  <div id="message"><%= post.content %></div>
  <div id="time"><%= post.created_at.strftime("%b %e, %l:%M %p")%></div>
</li>
</div>
<% end %>
