<section class="box">

  <% if flash[:notice] %>
    <p><%= flash[:notice] %></p>
  <% end %>

  <section class="sign-in">
    <h1>Already on the system? Enter your username:</h1><br>
    <form action="/sessions" method="post">
      Username: <input type='text' name='username_login'>
      <input type='submit' name='submit-login' value='submit-login'>
    </form>
    <a href= "/new_user">Click here to register</a>
  </section>

</section>
