<section class='header'>
  <section class="makers-logo">
    <img src="images/MA.svg">
  </section>
  <section class='menu'>
    <a href=#>ABOUT</a>
    <a href=#>RULES</a>
    <a href=#>NOTIFICATIONS</a>
    <a href='/'>HOME</a>
  </section>
</section>

<section class='container'>
  <section class='form'>
    <section class='ma-5-aside'>
      <img src="images/MA5aside.svg">
    </section>

    <section class='details'>
      <form class='login-form' action="/sessions" method="post">
        <input class='input-field' type='text' name='username_login'>
        <input class ='login-button' type='submit' value='LOGIN' name='submit-login'>
      </form>
      <form class='login-form' action="/registering" method="post">
        <input class='input-field' type='text' name='username_register'>
        <input class ='login-button' type='submit' value='REGISTER' name='submit-login'>
      </form>

      <section class='errors'>
        <% if flash[:notice] %>
          <p><%= flash[:notice] %></p>
        <% end %>
      </section>
      
    </section>
  </section>

  <form action='/reset_teams' method='post'>
    <section class='reset-teams-button'>
      <input type='image' name='reset' value='RESET TEAMS'>
    </section>
  </form>

</section>

<section class="footer">

</section>