<section class="box">

  <section class="sign-in">
    <section class="sign-in-elements">
      <form action="/sessions" method="post">
          Enter your username <input type='text' name='username_login'>
        <input type='submit' name='submit-login' value='Login'>
      </form>
  </section>
    <a href= "/new_user" class="register-link">Click here to register</a>
  </section>

  <form action='/reset_teams' method='post'>
    <div class='reset-teams-button'>
      <input type='submit' name='reset' value='RESET TEAMS'>
    </div>
  </form>

</section>

<section class="flash-error">

  <% if flash[:notice] %>
    <p><%= flash[:notice] %></p>
  <% end %>

</section>
