<section class="welcome-message">
  Welcome Ronaldo
</section>

<section class="register">
  Not on the system? Enter a username to join:
  <form action="/regisering" method="post">
    Username: <input type='text' name='username'>
    <input type='submit' name='submit-button'
  </form>
</section>

<section class="sign-in">
  Already on the system? Enter your username:
</section>
