<section class="box">

  <% if flash[:notice] %>
    <p><%= flash[:notice] %></p>
  <% end %>

  <section class="sign-in">
    <section class="sign-in-elements"
      <form action="/sessions" method="post">
        Enter your username <input type='text' name='username_login'>
        <input class='sign-in-button' type='submit' name='submit-login' value='Submit'>
      </form>
  </section>
    <a href= "/new_user" class="register-link">Click here to register</a>
  </section>

</section>
