<!DOCTYPE html>
<html>
  <head>
    <link type="text/css" rel="stylesheet" href="/stylesheets/reset.css"/>
    <link type="text/css" rel="stylesheet" href="/stylesheets/indexStylesheet.css"/>
    <link href='http://fonts.googleapis.com/css?family=Open+Sans:700italic' rel='stylesheet' type='text/css'>
    <title>5-a-Side</title>
  </head>

  <body>

    <%= yield %>

  </body>
</html>
