<!DOCTYPE html>
<html>
  <head>
    <link type="text/css" rel="stylesheet" href="/stylesheets/reset.css"/>
    <link type="text/css" rel="stylesheet" href="/stylesheets/indexStylesheet.css"/>
    <title>5-a-Side</title>
  </head>

  <body>

    <div class='welcome-message'>Welcome Ronaldo</div>

    <%= yield %>

  </body>
</html>
