<section class='play_or_not'>
  <form action='/playing' method='post'>
    <h2>Welcome <%= current_player.username %>, would you like to play this week?</h2>
    <div class='yes-no-buttons'>
      <input type='submit' name='yes' value='YES'>
      <input type='submit' name='no' value='NO'>
    </div>
  </form>
</section>

<section class="flash-error"
  <% if flash[:notice] %>
    <p><%= flash[:notice] %></p>
  <% end %>
</section>

<section class="available-players">
  <ul>
  <% @app.available_players.each do |player| %>
    <li><%= player %> </li>
  <% end %>
  </ul>
</section>

<form action='/reset' method='post'>
  <div class='reset-button'>
    <input type='submit' name='reset' value='RESET'>
  </div>
</form>
