.submitting-post {
  text-align: center;
  height: 20%;
  margin-top: 5%;
}

.post-box {
  height: 50px;
  width: 60%;
  margin: 0 auto;
}

.all-posts {
  font-size: 1.5em;
}


li {
  height: 70px;
  width: 100%;
  background-color: #00CCFF;
  border: 1px solid black;
}

#message {
  margin-left: 0;
  width: 75%;
  padding: 0;
  margin: 0;
  background-color: orange;
  height: 100%;
  display: inline-block;

}

#username {
  padding-left: 0;
  float: left;
  width: 180px;
  background-color: red;
  height: 100%;
}

#time {
  width: 5%;
  font-size: 0.5em;
  display: inline-block;
  height: 100%;
  background-color: green;
}
