html {
  background: url(../images/backgroundimage.png) no-repeat center center fixed;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: 100%;
  font-family: helvetica;
  color: white;
}

.box {
    background-color: black;
    height: 15%;
    width: 60%;
    background-opacity: 0.5;
    position: absolute;
    top:0;
    bottom: 0;
    left: 0;
    right: 0;
    margin: auto;
    border-radius: 10px;
    color: white;
    text-align: center;
    padding: 1%;
    padding-top: 3%;
}

.sign-in-elements {
  display: inline;
  font-size: 2.5em;
}

.sign-in input[type=submit] {
  display: inline-block;
  width: 100px;
  height: 35px;
  background-color: red;
  border: none;
  color: white;
  text-decoration: none;
  padding: 0px 10px;
  text-align: center;
  border-radius: 2px;
  margin-left: 5px;
  margin-right: 5px;
  font-family: "HelveticaNeue-Light";
  font-size: 0.5em;
}

.sign-in input[type=text] {
  display: inline-block;
  width: 200px;
  height: 35px;
  background-color: none;
  color: black;
  text-decoration: none;
  padding: 0px 10px;
  text-align: center;
  border-radius: 2px;
  margin-left: 20px;
  margin-right: 5px;
  font-family: "HelveticaNeue-Light";
  font-size: 0.5em;
}

.register-link {
  display: block;
  margin-top: 2%;
  text-decoration: none;
  color: white;
}

.sign-in-elements {
  display: inline;
}

.welcome-message {
  text-align: center;
  color: white;
  font-size: 1.5em;
  padding: 1%;
}
