@import url('MainStylesheet.css');

html {
  background: url(../images/backgroundimage.png) no-repeat center center fixed;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: 100%;
  font-family: helvetica;
  color: white;
  height: 100%;
}

body {
  height: 100%;
}

.box {
    background: rgba(0,0,0,0.7);
    height: 14%;
    width: 60%;
    position: absolute;
    top:0;
    bottom: 0;
    left: 0;
    right: 0;
    margin: auto;
    border-radius: 10px;
    color: white;
    text-align: center;
    padding: 2.5% 0 0.5% 0;
}

.sign-in-elements {
  display: inline;
  font-size: 2.5em;
}

.register-elements {
  display: inline;
  font-size: 2.5em;
}

.register .join-message {
  display: block;
  font-size: 0.7em;
  margin-bottom: 1.5%;
}

.box input[type=submit] {
  display: inline-block;
  width: 15%;
  height: 35px;
  background-color: red;
  border: none;
  color: white;
  text-decoration: none;
  padding: 0px 5%;
  text-align: center;
  border-radius: 2px;
  margin-left: 1%;
  margin-right: 1%;
  font-family: "HelveticaNeue-Light";
  font-size: 0.5em;
}

.box input[type=text] {
  display: inline-block;
  width: 25%;
  height: 35px;
  background-color: none;
  color: black;
  text-decoration: none;
  padding: 0px 2%;
  text-align: center;
  border-radius: 2px;
  margin-left: 2%;
  margin-right: 2%;
  font-family: "HelveticaNeue-Light";
  font-size: 0.5em;
}

.register-link {
  display: block;
  margin-top: 3%;
  text-decoration: none;
  color: white;
}

.sign-in-elements {
  display: inline;
}

.welcome-message {
  text-align: center;
  color: white;
  font-size: 1.5em;
  padding: 1%;
}

.flash-error {
  display: block;
  text-align: center;
  color: red;
  margin-top: 5%;
}

.reset-teams-button {
  display: none;
}
