

.header {
  height: 11%;
  width: 95%;
  margin-left: auto;
  margin-right: auto;
  border-bottom: 0.2em solid white;
}

.header .makers-logo {
  height: 100%;
  width: 11%;
  float: left;
  display: flex;
  justify-content: center; /* align horizontal */
  align-items: center; /* align vertical */
}

.header img {
  height: 45%;
}

.header .menu {
  height: 30%;
  padding-top: 2.5%;
  margin-right: 2%;
}

.header a {
  height:  100%;
  float: right;
  margin-left: 2.5%;
  padding-left: 2.5%;
  border-left: 1px solid white;
  font-size: 1.1em;
  text-decoration: none;
  display: flex;
  justify-content: center; /* align horizontal */
  align-items: center; /* align vertical */
  color: white;
}

.container {
  height: 30%;
  width: 95%;
  margin-left: auto;
  margin-right: auto;
}

.box {
  width: 96%;
  height: 96%;
  background-color: #333333;
  margin: 2%;
}


p.question {
    width: 70%;
    line-height: 40px;
    font-family: 'Open Sans', sans-serif;
    font-style: italic;
    font-size: 2.2em;
    margin-left: 3%;
    padding-bottom: 1%;
    padding-top: 2.5%;
    /*color: #75a3d1;*/
    color: #ffd452;
}

.footer {
  height: 11%;
  width: 95%;
  margin-left: auto;
  margin-right: auto;
  border-top: 0.2em solid white;
}
