.play_or_not form {
  font-size: 2.1em;
  background-color: none;
  color: white;
  text-align: center;
  padding: 3% 0 3% 0;
}

.yes-no-buttons input[type=submit] {
  display: inline-block;
  width: 6%;
  height: 35px;
  background-color: red;
  border: none;
  color: white;
  text-decoration: none;
  padding: 0px 10px;
  text-align: center;
  border-radius: 2px;
  margin: 5px;
  margin-right: 5px;
  margin-top: 20px;
  font-family: "HelveticaNeue-Light";
  font-size: 0.5em;
}
