

.header {
  height: 11%;
  width: 95%;
  margin-left: auto;
  margin-right: auto;
  border-bottom: 0.2em solid white;
}

.header .makers-logo {
  height: 100%;
  width: 11%;
  float: left;
  display: flex;
  justify-content: center; /* align horizontal */
  align-items: center; /* align vertical */
}

.header img {
  height: 45%;
}

.header .menu {
  height: 30%;
  padding-top: 2.5%;
  margin-right: 2%;
}

.header a {
  height:  100%;
  float: right;
  margin-left: 2.5%;
  padding-left: 2.5%;
  border-left: 1px solid white;
  font-size: 1.1em;
  text-decoration: none;
  display: flex;
  justify-content: center; /* align horizontal */
  align-items: center; /* align vertical */
  color: white;
}

.container {
  height: 30%;
  width: 95%;
  margin-left: auto;
  margin-right: auto;
}

.box {
  width: 96%;
  height: 96%;
  /*background-color: #333333;*/
  margin: 2%;
}

.columns {
  height: 80%;
  width: 90%;
  margin-left: 5%;
  margin-right: 5%;
  padding-top: 5%;
}

.box .left-col {
  width: 30%;
  height: 100%;
  float: left;
  margin-left: 2.3%;
  background-color: rgba(0,0,0,0.6)
}

.box .center-col {
  width: 30%;
  height: 100%;
  float: left;
  margin-left: 2.3%;
  background-color: transparent;
  padding-top: 7%;
}

.center-col div {
  width: 74%;
  margin: 0 auto;
  margin-top: 10%;
}


/*Main button class
==========================*/
.ph-button {

    border-style: solid;
    border-width: 0px 0px 3px;
    box-shadow: 0 -1px 0 rgba(255, 255, 255, 0.1) inset;
    color: #FFFFFF;
    border-radius: 6px;
    cursor: pointer;
    display: block;
    font-style: normal;
    overflow: hidden;
    text-align: center;
    text-decoration: none;
    text-overflow: ellipsis;
    transition: all 200ms ease-in-out 0s;
    white-space: nowrap;
    font-family: "Gotham Rounded A","Gotham Rounded B",Helvetica,Arial,sans-serif;
    font-weight: 700;
    padding: 19px 39px 18px;
    font-size: 18px;

}
/*Green
==========================*/
.ph-btn-green {

    border-color: #3AC162;
    background-color: #5FCF80;

}
.ph-btn-green:hover, .ph-btn-green:focus, .ph-btn-green:active {
    background-color: #4BC970;
    border-color: #3AC162;
}

/*Blue
==========================*/
.ph-btn-blue {

    border-color: #326E99;
    background-color: #3F8ABF;
}

.ph-btn-blue:hover, .ph-btn-blue:focus, .ph-btn-blue:active {
    background-color: #397CAC;
    border-color: #326E99;
}

/*Red
==========================*/
.ph-btn-red {

    background-color: #ED5A5A !important;
    border-color: #EA4343 !important;

}
.ph-btn-red:hover, .ph-btn-red:focus, .ph-btn-red:active {
    background: none repeat scroll 0 0 #EB4848 !important;
    border-color: #E83131 !important;
}

.box .right-col {
  width: 30%;
  height: 100%;
  float: left;
  margin-left: 2.3%;
}

.right-col .team1 {
  width: 100%;
  height: 47%;
  border: 1px solid black;
  margin-left: 0;
  margin-bottom: 7.7%;
  background-color: rgba(0,0,0,0.6)
}

.right-col .team2 {
  width: 100%;
  height: 47%;
  border: 1px solid black;
  margin-left: 0;
  background-color: rgba(0,0,0,0.6)
}

.footer {
  height: 11%;
  width: 95%;
  margin-left: auto;
  margin-right: auto;
  border-top: 0.2em solid white;
}
